.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.row div {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.row {
    display: flex;
    gap: 2px;
}

